extends base.jade

block title
  title containers_bss_health_check

block content
  h3 containers_bss_health_check
  div
   ul
     li select environment
     li check CCSAPI
     li check cache_age_seconds
     li fix Harmony
     li query ELK
