extends base.jade

block script
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js')
  script.
    var app = angular.module("runBook", []);
    app.directive("runBookExt", function() {
      return {
        link: function(scope, element, attrs) {
            console.debug(element.find("p"));
        	//element.find("p").append("<a href='/'>&#x1F4DD;</a>");
        	var alist = element.find("p");
        	var i;
        	for (i=0; i<alist.length; i++) {
        	  var anchor = document.createElement("A");
        	  anchor.href = "action/"+i;
        	  var textnode = document.createTextNode("["+i+"]");         // Create a text node
        	  anchor.appendChild(textnode);
        	  alist[i].appendChild(anchor);
        	}
        }
      };
    });

block title
  title containers_bss_health_check

block content
  div(ng-app='runBook')
    div(run-book-ext)
      include:markdown ../documentation-pages/docs/runbooks/containers_bss_health_check.md
